.app-layout__panel {
  height: 100%;
  background: #f9f9f9;
  padding: 25px;
}

.app-layout__product-list {
  display: flex;
  flex-wrap: wrap;
}

.app-layout__header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  background: #fff;
  padding-left: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 17px -6px rgba(190, 205, 209, 1);
}

.app-layout__card {
  min-width: 200px;
  height: 200px;
  margin: 5px;
  padding: 15px;
  box-shadow: 0px 0px 17px -6px rgba(190, 205, 209, 1);
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app-layout__card:hover {
  box-shadow: 0px 0px 17px -6px rgb(146, 157, 160);
}

.app-layout__empty-cart div {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.app-layout__empty-cart p {
  text-align: center;
}
