.app-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.app-table__header {
  border-bottom: 1px solid #000;
}

.app-table__header th {
  padding-bottom: 15px;
}

.app-table__content {
  border-bottom: 1px solid #000;
}

.app-table__content td {
  padding: 10px 0;
}

.app-table__content tr:nth-child(2n) {
  background-color: #fff;
}

.app-table__product-name {
  display: flex;
  align-items: center;
}

.app-table__product-name img {
  margin-right: 15px;
}

.app-table__product-delete {
  position: relative;
  cursor: pointer;
}

.app-table__delete-icon {
  width: 16px;
  height: 16px;
}

.app-table__delete-icon:hover:after,
.app-table__delete-icon:hover:before {
  background-color: red;
}

.app-table__delete-icon:before,
.app-table__delete-icon:after {
  position: absolute;
  left: 7px;
  content: " ";
  height: 16px;
  width: 2px;
  background-color: #333;
}

.app-table__delete-icon:before {
  transform: rotate(45deg);
}

.app-table__delete-icon:after {
  transform: rotate(-45deg);
}
