.total-card {
  background: #fff;
  padding: 25px;
  margin-top: 25px;
  width: 360px;
  margin-left: auto;
  box-shadow: 0px 0px 17px -6px rgba(190, 205, 209, 1);
}

.total-card__subtotal {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.total-card__total {
  margin-top: 15px;
  border-top: 1px solid;
  padding-top: 15px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.total-card__discount-item {
  color: #80d670;
  display: flex;
  justify-content: space-between;
}

.total-card__amount {
  font-weight: 500;
}

.total-card__total .total-card__amount {
  font-weight: 700;
}
