.product-card__image {
  height: 100%;
  margin-bottom: 10px;
}

.product-card__name {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.product-card__price {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}

.product-card__action-bar {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-card__quantity-control {
  width: 50px;
}
