.btn-primary {
    background: #62c136;
    color: #f9f9f9;
    border: none;
    padding: 5px 7px;
}

.btn-primary:hover {
    background: #5eaf38;
}

.btn-primary:active {
    background: #56a731;
}