.nav {
  width: 70px;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  box-shadow: 10px 0px 17px -6px rgba(190, 205, 209, 1);
  padding-top: 20px;
}

.nav-logo {
  height: 40px;
  pointer-events: none;
}

.nav-menu {
  padding: 0;
  margin: 15px 0;
}

.nav-menu__item {
  position: relative;
}

.nav-menu__item a {
  text-decoration: none;
  flex-direction: column;
  color: #000;
  font-size: 13px;
  border-left: 4px solid transparent;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  justify-content: center;
}

.nav-menu__item a:hover {
  background: #f9f9f9;
}

a.nav-menu__item--active {
  border-left-color: #72defb;
  background: #f9f9f9;
}

.nav-menu__item a img {
  width: 33px;
}

.nav-menu__total-quantity {
  background: #ff4755;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  padding: 3px;
  position: absolute;
  right: 7px;
  top: 10px;
  min-width: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: nav-logo-spin infinite 20s linear;
  }
}

@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
